table{
  margin-top: 2cm;
    margin-left: auto;
    margin-right: auto;
  border:1px solid black;
}
table,td,th
{
  background-color:whitesmoke;
  border:1px solid black;
  border-collapse: collapse;

}
.date1
{
  font-size:20px;
  text-align: center;
}
td,th{
  text-align:center;
}
#button2
{
  cursor:pointer;
  height:1cm;
  width:2cm;
  margin-left: 2cm;
  margin-top: 2cm;
  background-color: #f5b609;
  border-radius:4px;
}
#button1
{
  cursor:pointer;
  border-radius:4px;
  height:1cm;
  width:5cm;
  margin-top: 1cm;
  margin-left: 2.5cm;
  background-color: #04AA6D;
}
#button3
{
  cursor:pointer;
  height:1cm;
  width:5cm;
  border-radius:4px;
  margin-left: 2.5cm;
  background-color:#ec5008;
}
.contain
{
  border:3px solid black;
  background-color: rgb(129, 218, 176);
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3.5cm; 
}
#checkbox
{
  background-color: #dddddd;
  height: 6mm;
  width:6mm;
}
body{

  background-image: url("dark.jpg");
  width: 100%;
  height: 200px;
  background-attachment: fixed;
  background-size: 120%;
}

.total
{
  border:3px solid black;
  background-color: rgb(129, 218, 176);
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3.5cm; 
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
  }
  .top
  {
    position: fixed;
    top: 0;
    width: 100%;
  }
  li {
    display: inline;
    float: left;
    border-right: 1px solid #bbb;
  }
  a {
    display: block;
    padding: 8px;
    background-color: #04AA6D;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    width:3.2cm;
    height:0.6cm;
    text-decoration: none;
  }
  li a:hover 
  {
    background-color: rgb(73, 70, 70);
  }
  .active 
  {
    background-color: #04AA6D;
  }
  .univ
{
    background-image: url("dark.jpg");
}
.one
{
    height:2cm;
    margin-left: 0.5cm;
}
#button
{
    cursor:pointer;
    color:white;
    background-color: orangered;
    height:10.1mm;
    width:2.67cm;
}
#button:hover
{
    background-color: #f5b609;
}